###Pandas:working with tabular data

In [12]:
import numpy as np
import pandas as pd

#random generated data about pokemon
pokemons={
    'Pokemon_Height':np.random.randint(0,100,5),
    'Pokemon_Weight':np.random.randint(0,50,5),
    'Pokemon_Power':np.random.randint(200,250,5)
}

#dataframe of panda is used to see data as we use excel sheet to see the data
#header denotes column names
df=pd.DataFrame(pokemons)
print(df)

#prints data in better format
df.head()

#to see list of columns present in dataframe
print(df.columns)

#to create csv file
df.to_csv('pokemons.csv',index=False)

#to read csv file
df=pd.read_csv('pokemons.csv')
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              36              44            222
1              63              38            210
2              33              43            211
3              11              23            208
4              92               3            245
Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              36              44            222
1              63              38            210
2              33              43            211
3              11              23            208
4              92               3            245

In [9]:
#to check any function prototype use ? after function name
#df.shape?

df.shape

(5, 4)

In [11]:
df.drop(columns=['Unnamed: 0'])

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              54              16            229
1              19              45            244
2              16               8            223
3              57              15            242
4              56               3            212